// Flexs
.flex {
    display: flex;
}
.flex-inline {
    display: inline-flex;
}

@each $fkey, $fvalues in $flexs {
    @each $fprop, $fvalue in $fvalues {
        @if $fkey == "flex-direction" {
            .flex-#{$fvalue} {
                #{$fprop}: $fvalue;
            }
        } @else if $fkey == "flex-wrap" {
            .flex-#{$fvalue} {
                #{$fprop}: $fvalue;
            }
        } @else {
            .flex-#{$fprop} {
                #{$fprop}: $fvalue;
            }
        }
    }
}

@each $forder in $full-numbers {
    .flex-order-#{$forder} {
        order: $forder;
    }
}

@each $ffnumber in $first-numbers {
    .flex-grow-#{$ffnumber} {
        flex-grow: $ffnumber;
    }
    .flex-shrink-#{$ffnumber} {
        flex-shrink: $ffnumber;
    }
}

.flex-basis-auto {
    flex-basis: auto;
}

@each $fbasiskey, $fbasisval in $pixels {
    .flex-basis-#{$fbasiskey} {
        flex-basis: $fbasisval;
    }
}

@each $fbasiskey2, $fbasisval2 in $persens {
    .flex-basis-#{$fbasiskey2} {
        flex-basis: $fbasisval2;
    }
}

