.pd-nav {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    background-color:#ececec;
    border-bottom: 1px solid #dcdcdc;
    box-shadow: 1px 1px 5px #cccccc;
    padding: 0 1rem;
}
.pd-nav-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin: 8px 1rem 0 0;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    color:#333333;
}
.pd-nav-brand a {
    color:#333333;
    text-decoration: none;
    display: flex;
}
.pd-nav-brand a img{
    width: 32px;
    height: 32px;
    margin-right: 5px;
}
.pd-nav-brand a h1{
    margin: 4px 0;
    padding: 0;
    font-size: 1.25rem;
}
.pd-nav-left {
    flex: 1;
}
.pd-nav-right {
    flex: 0 0 auto;
    margin:0 0 0 auto;
}
.pd-nav-left ul, .pd-nav-right ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0 0 0 10px;
    list-style: none;
    white-space: nowrap;
    background-color:#ececec;
}
.pd-nav-left ul li a, .pd-nav-right ul li a{
    padding-right: 0;
    padding-left: 0;
    display: block;
    padding: 1.25rem 0.7rem;
    color:#333333;
    text-decoration: none;
}
.pd-nav-left ul li:hover a, 
.pd-nav-right ul li:hover a,
.pd-nav-left ul li.active a, 
.pd-nav-right ul li.active a{
    background-color: #dcdcdc;
    color: #333333;
}
.pd-nav-dropdown ul li ul{
    position: absolute;
    z-index: 100;
    display: none;
    margin-left: -1px;
}
.pd-nav-dropdown ul li ul li:hover a{
    background-color:#cdcdcd;
}
.pd-nav-dropdown ul li:hover > ul{
    display: block;
}
.pd-nav-dropdown ul li ul li ul{
    position: absolute;
    z-index: 101;
    left: 99%;
    margin-top: -59px;
    display: none;
}
.pd-nav-dropdown ul li ul li ul li:hover a{
    background-color:#cccccc;
}
.pd-nav-dropdown ul li ul li:hover > ul{
    display: block;
}
